@charset "utf-8";
/* CSS Document */

.test_results {
    border-collapse: collapse;
    border: 1px solid grey;
    margin: 0;
    margin-top: 1em;
}
td {
    border: 1px solid grey;
    margin: 0;
    height:20px;
    padding-left: 5px;
    padding-right: 5px;
}

.test_pass {
    background: url(images/pass.gif) no-repeat 12px 5px;
    border-right: 4px solid #73B65A;
}
.test_fail {
    background: url(images/fail.gif) no-repeat 12px 5px;
    border-right: 4px solid #E75C58;
}
.assertions {
    color: #73B65A;
}
.failures {
    color: #E75C58;
}
.errors {
    color: #ff1111;
}
